body{
    background-color: #14223C;
    margin: 0px;
}

/*header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px 10px;
    height: 7vh;
    border-bottom: solid 1px #666380;
}
header #logo{
    text-decoration: none;
    margin: 0px;
    font-size: 1.5rem;
}
header i{
    color: white;
}
#toggler{
    visibility: hidden;

}
/*navigation*/
#navigation{
    display: none;
}
/*hero*/
#hero{
    margin: 0px;
    background-image: url(../img/michael-baccin-XopauR-Nagk-unsplash.jpg);
    height: 93vh;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.blurredBackground{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 100px;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    height: 100%;
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    color: rgba(0, 0, 0, 0.15);
}
.blurredBackground h1{
    grid-column: 2/3;
    font-size: 2.2rem;
    text-align: center;
}
#heroMe{
    grid-column: 3/4;
}

.rounded{
    border-radius: 50%;
    width: 65%;
}
#scrollDown{
    grid-column: 2/4;
    grid-row: 2/3;
}
#scrollDown i{
    color: white;
}
/*text styling*/

h1,h2,h3{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
p, li, a{
    color:#f1f1f1 ;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
footer li, header li{
    list-style: none;
}
/*buttons / link*/
.button{
    background-color: #21178F;
    border-radius: 5px;
    padding: 7px 13px;
    text-decoration: none;
}
#backNav{
    background-color: rgba(0, 0, 0, 0.15);
    color: #cdc8ff;
    border-radius: 10px;
    padding: 7px 5px;
    border: none;
}

/* content boxes and inside */
.content{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 83%;
    min-height: 80vh;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content:last-of-type{
    margin-bottom: 20px;
}
.content h2, .content p{
    text-align: center;
}
.content .button{
    margin: auto 0 20px 0;
}
.changingContent{
    width:60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10%;
}
/*to top*/
.toTop{
    display: block;
    color: black;
    text-decoration: none;
    background-color: white;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    text-align: center;
    line-height: 50px;
}
/* footer */
footer{
    border-top: solid 1px #666380;
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
footer > .navigation{
    grid-column: 2/3;
}
footer > .contact{
    grid-column: 3/4;
}
footer > .visit{
    grid-column: 4/5;
}
footer ul{
    padding-left: 0;
}
footer li{
    margin: 6px 0 6px 0;
}
footer img{
    height: 35px;
    }


